/* Reset */
* { box-sizing: border-box; }

input{
    width: 30px;
    text-align: center;
}


body {
    margin: 0; padding: 0;
    background: #f0f4f1;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.5vw; /* টেক্সটবুকের মতো দেখাতে সাইজ একটু বড় রাখা ভালো */
    line-height: 1.6;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex-shrink: 1;
    justify-content: space-around;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

.grid-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* ৪টি কলাম */
        grid-template-rows: auto; /* ৩টি সারি */
        gap: 0.0005rem; /* গ্রিড আইটেমের মধ্যে ফাঁকা জায়গা */
        padding: 0.05rem; /* গ্রিড আইটেমের ভিতরের প্যাডিং */;
        width: 100%;
        height: 100%;
        background: rgba(202, 247, 187, 0.8);
}

.item{

}

header {
    flex: 1; /* ১ ভাগ জায়গা */
    min-height: 0; /* ফ্লেক্স বক্সের জন্য জরুরি */
    background: #052101; 
    color: white; 
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

main { 
    flex: 18; /* ১৮ ভাগ জায়গা - সবচাইতে বড় হবে */
    background: rgba(255,255,255,0.8);
    border: black 2px solid;
    margin: 0.05rem; 
    padding: 0.05rem;
}

footer { 
    flex: 1; /* ১ ভাগ জায়গা */
    min-height: 0;
    background: #003206; 
    color: #888; 
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}



/* মেইন এর ভেতরের সেকশনগুলোর স্টাইল */
main > section {
    margin: 0.05rem;
    padding: 0.05rem;
}


/* ফ্লেক্স রেশিও অনুযায়ী সেকশনগুলোর সাইজ */
main > section:nth-child(1) { flex: 0.0005; flex-direction: row;}
main > section:nth-child(2) { flex: 2; flex-direction: row;  }
main > section:nth-child(3) { flex: 5;  flex-direction: row; }
main > section:nth-child(4) { flex: 8; flex-direction: row; }
main > section:nth-child(5) { flex: 3;  flex-direction: row;}



/* Ticker Animation */
.ticker-wrapper {
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
}
.ticker-text { 
    display: inline-block; 
    animation: scroll-left 30s linear infinite; 
    font-size: 10px; 
    margin: 0px;
    padding: 0px;
}
@keyframes scroll-left { 
    0% { transform: translateX(100%); } 
    100% { transform: translateX(-100%); } 
}

.info-card{
    margin: 0.05rem;
    padding: 0.05rem;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.ramadhan-widget > div{
}
.ramadhan-widget > div > p {
    margin: 0px;
    line-height: 1; 
    font-size: 3vw; 
    font-weight: bold;
}
.ramadhan-widget > div > h2{
    margin: 0px; 
    font-size: 2vw; 
    line-height: 1; 
    font-weight: normal;
}


.daily-inspiration  >.info-card > .card-head > h2{
    margin: 0px; line-height: 1.2;
}
.daily-inspiration  > .info-card > .card-body > p{
    margin: 0px; line-height: 1.2; 
}


.user-traker-container{
    flex-shrink: 1;
}



@media screen and (max-width: 600px) {
    /* Reset */
    * {  }

    input{
    }


    body {
    }
    .flex-container{
    }

    .grid-container{
        grid-template-columns: repeat(2, 1fr); /* মোবাইলের জন্য ২টি কলাম */
    }
    header {
    }

    main { 
    }

    footer { 
    }



    /* মেইন এর ভেতরের সেকশনগুলোর স্টাইল */
    main > section {
    }


    /* ফ্লেক্স রেশিও অনুযায়ী সেকশনগুলোর সাইজ */
    main > section:nth-child(1) { }
    main > section:nth-child(2) {  }
    main > section:nth-child(3) {  }
    main > section:nth-child(4) {  }
    main > section:nth-child(5) { }



    /* Ticker Animation */
    .ticker-wrapper {
    }
    .ticker-text { 
    }
    @keyframes scroll-left {    

     }

    .info-card{
    }

    .ramadhan-widget > div{
        
    }
    .ramadhan-widget > div > p {
        font-size: 15px;
    }
    .ramadhan-widget > div > h2{
        font-size: 8px;
    }


    .daily-inspiration  >.info-card > .card-head > h2{
    }
    .daily-inspiration  > .info-card > .card-body > p{
    }


    .user-traker-container{
    }


}   